/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* cabecalho */
.cabecalho {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 50px;
    border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    margin-left: 50px;
}

.cabecalho-central {
    display: flex;
    gap: 30px;
}

.cabecalho-central-text {
    font-size: large;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cabecalho-barra-img {
    padding-bottom: 5px;
    margin-right: 10px;
}

.btn {
    color:  rgb(255, 255, 255) !important;
    border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}

.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}


/* Menu Sessao card */

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
}

.compras:hover {
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
    padding-top: 28%;
}
/* Rodape cima*/
.footer-cima {
    padding: 50px;
    display: flex;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}
.footer-card {
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
}

.footer-cima a {
    color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
    text-align: center;
    background-color: lightgray;
}

#outros-links {
    display: flex;
    flex-direction: column;
}
#outros-links a {
    text-decoration: none;

}

.contatos {
    text-decoration: none;
}

/* Media Querys */

/* 0 -- 480 celular */
@media (max-width: 480px) {

    /* footer */
    .footer-cima {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

}

/* 481 -- 768 tablets */
@media (min-width: 481px) and (max-width: 768px) {

    /* footer */
    .footer-cima {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

/* 769 -- 1279 laptop */
@media (min-width: 769px) and (max-width: 1279px) {
    /* menu */
    .menu-sessao {
        flex-direction: column;
        margin: 10px;
    }

    /* footer */
    .footer-cima {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .busca-itens {
        margin: 40px;
    }

}

/* 1280 -- ++ notebooks e monitores */
@media (min-width: 1280px) {

    /* footer */
    .footer-cima {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
     
      
      .produtos {
        display: flex;
      }
}