/* import font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@500&display=swap');

/* reset geral */
* {
    font-family: 'poppins'; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* cabecalho */
.cabecalho {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 50px;
    border-top: 1px solid rgb(255, 255, 255); 
}

.cabecalho-logo {
    height: 110px;
    margin-left: 50px;
}

.cabecalho-central {
    display: flex;
    gap: 30px;
}

.cabecalho-central-text {
    font-size: large;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cabecalho-central-text:hover {
    color: rgb(255, 255, 255);
}

.cabecalho-barra {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.cabecalho-barra-img {
    padding-bottom: 5px;
    margin-right: 10px;
}

.btn {
    color:  rgb(255, 255, 255) !important;
    border: none !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.503) !important;
    opacity: 95%;
}

.btn-lupa {
    padding-bottom: 5px;
}

.nav-link:hover {
    transition: 0.2s;
    color: blue !important;
}


/* carrosel */

.carrosel {
    box-shadow: 10px rgba(255, 255, 255, 0.2);  
    width: 90%;
    margin-left: 3%;
    margin-bottom: 10%;
}

/* Menu Sessao card */

.menu-sessao-bloco {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    flex-direction: row;
  }

.card-promocao {
    padding-left: 20px;
}

.compras {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#ddd;
    transition: 0.2s;
}

.compras:hover {
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-img {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.card-img img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-info {
  padding: 20px;
}

h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.review-count {
  background-color: #333;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}

.card-lateral-titulo {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-weight: 800;
    text-align: center;
    border-top: 3px solid rgb(0, 0, 0);
}
.card {
    box-shadow:  2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.card-lateral-nome {
    text-align: center;
    font-size: 100%;
}

.card-lateral-preco {
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);;
}

/* menu inferior lateral novidades */

.menu-lateral-inferior-card{
    text-align: center;
    color: black;
}

.paragrafo-login {
    text-align: center;
    color: rgb(0, 0, 0);
}

.caixa-login {
    margin-left: 20px;
    width: 80%;
}

.btn-login {
    
    border-radius: 5px;
    background-color: #ddd;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 50px;
}
.btn-login:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Rodape cima*/
.footer-cima {
    padding: 50px;
    display: flex;
    background-color: lightgray;
    color: rgb(0, 0, 0);
    justify-content: space-around;
}
.footer-card {
    font-size: 1em;
    width: 300px;
    border-radius: 5px;
}

.footer-cima a {
    color: rgb(0, 0, 0);
}



/* rodape baixo */
.footer-baixo {
    text-align: center;
    background-color: lightgray;
}

#outros-links {
    display: flex;
    flex-direction: column;
}
#outros-links a {
    text-decoration: none;

}

.contatos {
    text-decoration: none;
}

/* Media Querys */

/* 0 -- 480 celular */
@media (max-width: 480px) {
    /* menu */
    .menu-sessao {
        flex-direction: column;
        margin: 10px;
    }

    /* menu-lateral */

    .menu-lateral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    /* footer */
    .footer-cima {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .busca-itens {
        margin: 40px;
    }
}

/* 481 -- 768 tablets */
@media (min-width: 481px) and (max-width: 768px) {
    /* menu */
    .menu-sessao {
        flex-direction: column;
        margin: 10px;
    }

    /* menu-lateral */

    .menu-lateral {
        display: block;
    }

    /* footer */
    .footer-cima {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .busca-itens {
        margin: 40px;
    }
}

/* 769 -- 1279 laptop */
@media (min-width: 769px) and (max-width: 1279px) {
    /* menu */
    .menu-sessao {
        flex-direction: column;
        margin: 10px;
    }

    /* menu-lateral */

    .menu-lateral {
        display: block;
    }

  .menu-lateral-superior {
    width: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .menu-lateral-inferior {
    width: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


    /* footer */
    .footer-cima {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .busca-itens {
        margin: 40px;
    }

}

/* 1280 -- ++ notebooks e monitores */
@media (min-width: 1280px) {
    /* menu */
    .menu-sessao {
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        margin-top: 10%;
    }

    /* menu-lateral */

    .menu-lateral {
        display: block;
        padding-left: 20%;
    }

    /* footer */
    .footer-cima {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .busca-itens-div {
        display: flex;
        flex-direction: column;
    }  
    .busca-itens-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      .preco {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
      .preco input {
        margin-left: 5px;
      }
      .btn-pesquisar {
        margin-left: 10px;
        padding: 8px 12px;
        background-color: #008CBA;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      } 
      .card-custom {
        width: 18rem;
      }
      .topbody{
        display: flex;
        margin-left: 5%;
      }
      .menu1{
        display: block;
        margin-right: 15%;
        margin-left: 5%;
      }
      .menu2{
        display: block;
        margin-right: 15%;
      }
      .menu3{
        display: block;
      }
      .allmenu{
        display: flex;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 5%;
      }
      .midbody{
        display: flex;
      }
      .card1{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 100px;
      }
      .card2{
        margin-bottom: 10%;
      }
      .card4{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 100px;
      }
      .card5{
        margin-bottom: 10%;
      }
      .card7{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 100px;
      }
      .card8{
        margin-bottom: 10%;
      }
      .card9{
        margin-bottom: 10%;
      }
      .card10{
        margin-top: 10%;
      }
      .card11{
        margin-top: 10%;
        margin-bottom: 10%;
      }
      .card12{
        margin-bottom: 13%;
      }
      .card13{
        margin-top: 14%;
        margin-bottom: 13%;
      }
      .card14{
        margin-bottom: 13%;
      }
      .card15{
        margin-bottom: 13%;
      }
      .card16{
        margin-bottom: 13%;
      }
      .card17{
        margin-bottom: 13%;
      }
      .maisvendidos1{
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .maisvendidos3{
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .maisvendidos5{
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .maisvendidos7{
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .maisvendidos9{
        margin-top: 15%;
        margin-bottom: 15%;
      }
      .maisvendidos11{
        margin-top: 15%;
        margin-bottom: 15%;
      }
  
      .login-icon {
        display: inline-block;
        font-size: 1.2em;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: blue;
        color: lightblue;
        text-decoration: none;
      }
      
      .login-icon i {
        margin-right: 6px;
      }

}